$cMain: #a7ddd6;
$cSecond: #ffa843;
$cAdd: #fdfdfd;
$cTitle: #777;
$cSubtext: #999;
$sMain: 0px 2px 4px rgba(0, 0, 0, 0.15);

* {
  box-sizing: border-box;
}

// input:focus,
// input:focus-visible {
//   outline: none !important;
//   border: none !important;
// }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  //   font-family: "Montserrat", "Helvetica";

  width: 100%;
  height: 100%;
}

.layout-container {
  height: 100vh;
  width: 100vw;
  //   background: linear-gradient(#05fbff, #1d62f0);
}

.navbar-section {
  height: 10%;
  //   background: linear-gradient(#05fbff, #1d62f0);
}

.main-section {
  height: 90%;
}

.title-section {
  height: 10%;
}

.timeLine-section {
  height: 80%;
  overflow-y: scroll;
}

@media (max-width: 991px) {
  .navbar-section {
    height: auto;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 30vh;
  width: 34vw;
  border-radius: 0.8rem;
  margin: 1.5rem 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
  }
  .imageArea {
    img {
      border-radius: 50%;
    }
  }
  .textArea {
    color: black;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .cardContainer {
    height: 25vh;
    width: 85vw;
    margin: 1rem 0;
  }
}

@media (max-width: 551px) {
  .cardContainer {
    height: 25vh;
    width: 85vw;
    margin: 1rem 0;
  }
}

.authForm-container {
  position: relative;
  background-color: $cAdd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.back-btn {
  position: fixed;
  top: 8%;
  left: 8%;
}

.back-btn i {
  font-size: 25px;
  color: #999;
}

.welcome {
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #777;
  font-size: 35px;
  font-weight: 600;
  margin: 0 auto;
  width: 280px;
}

.login {
  position: absolute;
  top: 70%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.login form {
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

.login form .form-content {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px #a7ddd6;
  text-align: left;
}

.login form .form-content i {
  color: #999;
  font-size: 20px;
  vertical-align: middle;
}

.login form .form-content input {
  color: #777;
  border-bottom: 1px solid #cccccc;
  border: none;
  margin-left: 10px;
  font-size: 15px;
}

input:focus {
  border: none;
}

.login form .form-content input:focus {
  outline: none;
  color: #777;
}

.login form .password {
  margin-top: 20px;
}

.login form .create-text {
  color: #999;
  text-align: center;
  font-size: 12px;
}

.login form .create-text .create-link {
  color: #a7ddd6;
  cursor: pointer;
}

.login form .login-btn {
  background-color: #a7ddd6;
  color: #fdfdfd;
  padding: 13px 35px;
  font-size: 15px;
  border: none;
  border-radius: 100vh;
  margin: 40px 0 10px 0;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
  /******************************************************************
  
  Stylesheet: 600px以上のタブレットやモニタで適用
  
******************************************************************/
  .back-btn {
    display: none;
  }
}

@media (min-width: 960px) {
  /******************************************************************
  
  Stylesheet: 960px以上のモニタで適用
  
******************************************************************/
  .welcome {
    width: 50%;
    top: 50%;
    left: 35%;
    font-size: 60px;
    line-height: 1.3em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .login {
    width: 50%;
    top: 50%;
    right: 30%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
  .login form {
    width: 350px;
  }
  .login form .password {
    margin-top: 30px;
  }
  .login form .login-btn {
    margin-top: 50px;
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************
  
  Stylesheet: 1280px以上のモニタで適用
  
******************************************************************/
  .welcome {
    left: 40%;
  }
}

.cardBtn {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 30px #6617cb;

  &:hover {
    box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 60px #6617cb;
  }
}

.cardStyle {
  height: 30vh;
  width: 64vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input:disabled {
  background-color: inherit !important;
}
